src/main/resources/pfa.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PFA">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence>
                    <xs:element ref="CountryList"/>
                    <xs:element ref="OccupationList"/>
                    <xs:element ref="RelationshipList"/>
                    <xs:element ref="SanctionsReferencesList"/>
                    <xs:element ref="Description1List"/>
                    <xs:element ref="Description2List"/>
                    <xs:element ref="Description3List"/>
                    <xs:element ref="DateTypeList"/>
                    <xs:element ref="NameTypeList"/>
                    <xs:element ref="RoleTypeList"/>
                    <xs:element ref="Records"/>
                    <xs:element ref="Associations"/>
                </xs:sequence>
            </xs:sequence>
            <xs:attribute name="date" type="xs:string" use="required"/>
            <xs:attribute name="type" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="CountryList">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="CountryName"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CountryName">
        <xs:complexType>
            <xs:attribute name="code" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="IsTerritory" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="True"/>
                        <xs:enumeration value="False"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ProfileURL" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="OccupationList">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Occupation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Occupation">
        <xs:complexType>
            <xs:attribute name="code" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="RelationshipList">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Relationship"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Relationship">
        <xs:complexType>
            <xs:attribute name="code" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SanctionsReferencesList">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="ReferenceName"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ReferenceName">
        <xs:complexType>
            <xs:attribute name="code" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="status" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="Suspended"/>
                        <xs:enumeration value="Current"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Description2Id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Description1List">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Description1Name"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Description1Name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Description1Id" type="xs:string" use="required"/>
                    <xs:attribute name="RecordType" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:NMTOKEN">
                                <xs:enumeration value="Person"/>
                                <xs:enumeration value="Entity"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Description2List">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Description2Name"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Description2Name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Description2Id" type="xs:string" use="required"/>
                    <xs:attribute name="Description1Id" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Description3List">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Description3Name"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Description3Name">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Description3Id" type="xs:string" use="required"/>
                    <xs:attribute name="Description2Id" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DateTypeList">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="DateType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DateType">
        <xs:complexType>
            <xs:attribute name="RecordType" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="Person"/>
                        <xs:enumeration value="Entity"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Id" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="NameTypeList">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="NameType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="NameType">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="NameTypeID" type="xs:string" use="required"/>
                    <xs:attribute name="RecordType" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:NMTOKEN">
                                <xs:enumeration value="Person"/>
                                <xs:enumeration value="Entity"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="RoleTypeList">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="RoleType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RoleType">
        <xs:complexType>
            <xs:attribute name="Id" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Records">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="Person"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="Entity"/>
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Person">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" ref="Gender"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="ActiveStatus"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Deceased"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="NameDetails"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Descriptions"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="RoleDetail"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="DateDetails"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="BirthPlace"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="SanctionsReferences"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Address"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="CountryDetails"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="IDNumberTypes"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="ProfileNotes"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="SourceDescription"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Images"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="action" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="del"/>
                        <xs:enumeration value="chg"/>
                        <xs:enumeration value="add"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="date" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Gender" type="xs:string"/>
    <xs:element name="ActiveStatus" type="xs:string"/>
    <xs:element name="Deceased" type="xs:string"/>
    <xs:element name="NameDetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Name"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Name">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="NameValue"/>
            </xs:sequence>
            <xs:attribute name="NameType" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="NameValue">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="TitleHonorific"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="FirstName"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="MiddleName"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Surname"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="MaidenName"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Suffix"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="EntityName"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="SingleStringName"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="OriginalScriptName"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TitleHonorific" type="xs:string"/>
    <xs:element name="FirstName" type="xs:string"/>
    <xs:element name="MiddleName" type="xs:string"/>
    <xs:element name="Surname" type="xs:string"/>
    <xs:element name="MaidenName" type="xs:string"/>
    <xs:element name="Suffix" type="xs:string"/>
    <xs:element name="EntityName" type="xs:string"/>
    <xs:element name="SingleStringName" type="xs:string"/>
    <xs:element name="OriginalScriptName" type="xs:string"/>
    <xs:element name="Descriptions">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Description"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Description">
        <xs:complexType>
            <xs:attribute name="Description1" type="xs:string" use="required"/>
            <xs:attribute name="Description2" type="xs:string"/>
            <xs:attribute name="Description3" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="RoleDetail">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Roles"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Roles">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="OccTitle"/>
            </xs:sequence>
            <xs:attribute name="RoleType" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="OccTitle">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="SinceDay" type="xs:string"/>
                    <xs:attribute name="SinceMonth" type="xs:string"/>
                    <xs:attribute name="SinceYear" type="xs:string"/>
                    <xs:attribute name="ToDay" type="xs:string"/>
                    <xs:attribute name="ToMonth" type="xs:string"/>
                    <xs:attribute name="ToYear" type="xs:string"/>
                    <xs:attribute name="OccCat" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DateDetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Date">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="DateValue"/>
            </xs:sequence>
            <xs:attribute name="DateType" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DateValue">
        <xs:complexType>
            <xs:attribute name="Day" type="xs:string"/>
            <xs:attribute name="Month" type="xs:string"/>
            <xs:attribute name="Year" type="xs:string"/>
            <xs:attribute name="Dnotes" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="BirthPlace">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Place"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Place">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SanctionsReferences">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Reference"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Reference">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="SinceDay" type="xs:string"/>
                    <xs:attribute name="SinceMonth" type="xs:string"/>
                    <xs:attribute name="SinceYear" type="xs:string"/>
                    <xs:attribute name="ToDay" type="xs:string"/>
                    <xs:attribute name="ToMonth" type="xs:string"/>
                    <xs:attribute name="ToYear" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Address">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" ref="AddressLine"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="AddressCity"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="AddressCountry"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="URL"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AddressLine" type="xs:string"/>
    <xs:element name="AddressCity" type="xs:string"/>
    <xs:element name="AddressCountry" type="xs:string"/>
    <xs:element name="URL" type="xs:string"/>
    <xs:element name="CountryDetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Country">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="CountryValue"/>
            </xs:sequence>
            <xs:attribute name="CountryType" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="CountryValue">
        <xs:complexType>
            <xs:attribute name="Code" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="IDNumberTypes">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="ID"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ID">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="IDValue"/>
            </xs:sequence>
            <xs:attribute name="IDType" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="IDValue">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="IDnotes" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProfileNotes" type="xs:string"/>
    <xs:element name="SourceDescription">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Source"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Source">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Images">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Image"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Image">
        <xs:complexType>
            <xs:attribute name="URL" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Entity">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" ref="ActiveStatus"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="NameDetails"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="Descriptions"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="DateDetails"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="SanctionsReferences"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="CompanyDetails"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="VesselDetails"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="CountryDetails"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="IDNumberTypes"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="ProfileNotes"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="SourceDescription"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="action" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="del"/>
                        <xs:enumeration value="chg"/>
                        <xs:enumeration value="add"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="date" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="CompanyDetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" ref="AddressLine"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="AddressCity"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="AddressCountry"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="URL"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="VesselDetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" ref="VesselCallSign"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="VesselType"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="VesselTonnage"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="VesselGRT"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="VesselOwner"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="VesselFlag"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="VesselCallSign" type="xs:string"/>
    <xs:element name="VesselType" type="xs:string"/>
    <xs:element name="VesselTonnage" type="xs:string"/>
    <xs:element name="VesselGRT" type="xs:string"/>
    <xs:element name="VesselOwner" type="xs:string"/>
    <xs:element name="VesselFlag" type="xs:string"/>
    <xs:element name="Associations">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="PublicFigure"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="SpecialEntity"/>
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Associate">
        <xs:complexType>
            <xs:attribute name="code" type="xs:string" use="required"/>
            <xs:attribute name="ex" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="Yes"/>
                        <xs:enumeration value="No"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PublicFigure">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Associate"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SpecialEntity">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Associate"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>